body{
    background-color: rgb(4, 111, 94);
    text-align: center;
}

h1{
    justify-content: center;
    color: white;
    margin-left: 530px;
    margin-right: 530px;
    font-size: 50px;
    height: 60px;
    padding-top: 5px;
    background-color: brown;
}

div{
    border: 15px solid red;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

h2{
    background-color: aqua;
    color: black;
    text-align: left;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}